[data-theme='theme'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(89.67% 0.06 235.24deg);
	--color-primary-100: oklch(82.47% 0.07 242.6deg);
	--color-primary-200: oklch(75.2% 0.09 247.62deg);
	--color-primary-300: oklch(68.05% 0.11 250.03deg);
	--color-primary-400: oklch(60.75% 0.12 253deg);
	--color-primary-500: oklch(53.53% 0.14 255.49deg);
	--color-primary-600: oklch(46.93% 0.14 258.35deg);
	--color-primary-700: oklch(40.13% 0.13 261.37deg);
	--color-primary-800: oklch(33.43% 0.13 263.79deg);
	--color-primary-900: oklch(26.34% 0.12 266.21deg);
	--color-primary-950: oklch(19.26% 0.12 264.2deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(97.81% 0.13 108.52deg);
	--color-secondary-100: oklch(91.05% 0.13 109.66deg);
	--color-secondary-200: oklch(84.16% 0.13 110.83deg);
	--color-secondary-300: oklch(77.04% 0.13 111.07deg);
	--color-secondary-400: oklch(69.9% 0.13 112.34deg);
	--color-secondary-500: oklch(62.64% 0.13 113.72deg);
	--color-secondary-600: oklch(55.64% 0.12 113.2deg);
	--color-secondary-700: oklch(48.66% 0.1 113.15deg);
	--color-secondary-800: oklch(41.16% 0.08 112.24deg);
	--color-secondary-900: oklch(33.57% 0.07 111.88deg);
	--color-secondary-950: oklch(25.2% 0.05 109.76deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(79.48% 0.12 307.78deg);
	--color-tertiary-100: oklch(72.08% 0.12 307.63deg);
	--color-tertiary-200: oklch(64.69% 0.12 307.18deg);
	--color-tertiary-300: oklch(56.88% 0.12 305.92deg);
	--color-tertiary-400: oklch(49.07% 0.12 305.15deg);
	--color-tertiary-500: oklch(40.86% 0.12 304.34deg);
	--color-tertiary-600: oklch(35.48% 0.11 302.07deg);
	--color-tertiary-700: oklch(30.08% 0.09 298.51deg);
	--color-tertiary-800: oklch(24.3% 0.08 295.56deg);
	--color-tertiary-900: oklch(18.36% 0.07 287.65deg);
	--color-tertiary-950: oklch(9.65% 0.07 264.05deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(82.15% 0.12 145.07deg);
	--color-success-100: oklch(74.75% 0.12 145.59deg);
	--color-success-200: oklch(67.14% 0.12 146.33deg);
	--color-success-300: oklch(59.41% 0.12 146.28deg);
	--color-success-400: oklch(51.49% 0.12 146.59deg);
	--color-success-500: oklch(43.45% 0.12 146.2deg);
	--color-success-600: oklch(37.46% 0.1 146.19deg);
	--color-success-700: oklch(30.91% 0.08 146.82deg);
	--color-success-800: oklch(24.34% 0.06 146.95deg);
	--color-success-900: oklch(16.93% 0.03 150.33deg);
	--color-success-950: oklch(0% 0 none);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-light);
	--color-success-contrast-500: var(--color-success-contrast-light);
	--color-success-contrast-600: var(--color-success-contrast-light);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(92.03% 0.11 96.19deg);
	--color-warning-100: oklch(84.58% 0.11 97.2deg);
	--color-warning-200: oklch(77.06% 0.11 97.63deg);
	--color-warning-300: oklch(69.26% 0.11 98.77deg);
	--color-warning-400: oklch(61.37% 0.1 99.09deg);
	--color-warning-500: oklch(53.16% 0.1 99.94deg);
	--color-warning-600: oklch(46.34% 0.09 95deg);
	--color-warning-700: oklch(38.95% 0.07 87.03deg);
	--color-warning-800: oklch(31.62% 0.06 74.76deg);
	--color-warning-900: oklch(23.62% 0.05 54.3deg);
	--color-warning-950: oklch(15.36% 0.06 34.05deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-light);
	--color-warning-contrast-400: var(--color-warning-contrast-light);
	--color-warning-contrast-500: var(--color-warning-contrast-light);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(77.05% 0.14 20.13deg);
	--color-error-100: oklch(69.62% 0.14 17.87deg);
	--color-error-200: oklch(62.2% 0.15 17.08deg);
	--color-error-300: oklch(54.93% 0.16 16.27deg);
	--color-error-400: oklch(47.88% 0.16 17.31deg);
	--color-error-500: oklch(41.58% 0.16 19.62deg);
	--color-error-600: oklch(37.52% 0.14 20.13deg);
	--color-error-700: oklch(33.53% 0.13 21.44deg);
	--color-error-800: oklch(29.2% 0.11 22.27deg);
	--color-error-900: oklch(24.86% 0.1 24.22deg);
	--color-error-950: oklch(19.92% 0.08 29.23deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-light);
	--color-error-contrast-400: var(--color-error-contrast-light);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(100% 0 none);
	--color-surface-100: oklch(90.67% 0 none);
	--color-surface-200: oklch(81.41% 0 none);
	--color-surface-300: oklch(71.55% 0 none);
	--color-surface-400: oklch(61.67% 0 none);
	--color-surface-500: oklch(51.03% 0 none);
	--color-surface-600: oklch(44.95% 0 none);
	--color-surface-700: oklch(38.67% 0 none);
	--color-surface-800: oklch(32.11% 0 none);
	--color-surface-900: oklch(25.2% 0 none);
	--color-surface-950: oklch(17.76% 0 none);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}